<p>
  Cumprimentos,<br />
</p>

</td>
</tr>
</table>
</td>
</tr>
<tr>
  <td>
    <table class="footer" align="center" width="570" cellpadding=="0" cellspacing="0" style="text-align: center; width: 570px;
              cellpadding: 0;cellspacing: 0;">
      <tr>
        <td align="center" style="padding: 35px;">

          <p style="color: #666; font-size: 12px; text-align: center;">
            2019 &copy;. All rights reserved.
          </p>

        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</td>
</tr>
</table>

</body>

</html>