<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;
background-color: #22202c; color:#999; height: 100%; font-size: 16px;
line-height: 1.5em; margin:0; padding: 0; width: 100% !important;
word-break: break-word;">

  <style>
    @media only screen and (max-width: 600px) {
      .inner-body {
        width: 100% !important;
      }

      .footer {
        width: 100% !important;
      }
    }
  </style>

  <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%;
  cellpadding: 0; cellspacing: 0;">
    <tr>
      <td align="center">
        <table width="100%" cellpadding="0" cellspacing="0" style="width: 100%;
        cellpadding: 0; cellspacing: 0;">
          <tr>
            <td style="padding: 25px 0; text-align: center;">
              <p style="color: #eee; font-size: 19px; font-weight: bold;
              text-shadow: 0 1px 0 white;">
                App
              </p>
            </td>
          </tr>

          <tr>
            <td width="100%" cellpadding="0" cellspacing="0" style="background-color: #FFF; width: 100%; cellpadding: 0;
            cellspacing: 0;">
              <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0"
                style="width: 570px; cellpadding: 0; cellspacing:0;">

                <tr>
                  <td style="padding: 35px;">