{{> header }}

<h1 style="color: #333; font-size: 19px; font-weight: bold;">
  Olá, {{ name }}
</h1>

<p>
  Bem vindo ao App!
</p>

<p>
  O seu Registro foi realizado com sucesso. Será um prazer tê-lo connosco!
</p>

<p>
  Instruções ....
</p>

{{> footer }}